@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Barlow:wght@300;400&display=swap');

.contacto-section {
  width: 100%;
  background-color: #e2d9d2;
  padding: 120px 5%;
  display: flex;
  justify-content: center;
}

.contacto-container {
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  gap: 60px;
}

/* TÍTULO */
.contacto-title {
  font-family: "Marcellus", serif;
  color: #7b4e38;
  font-size: 2.7rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* TEXTO */
.contacto-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacto-text {
  font-family: "Barlow", sans-serif;
  font-size: 0.9rem;
  color: #3a2b23;
  width: 330px;
  margin-bottom: 22px;
  line-height: 1.5;
}

/* BOTÓN */
.contacto-btn {
  padding: 10px 26px;
  font-family: "Barlow", sans-serif;
  font-size: 0.85rem;
  background: transparent;
  border: 1px solid #7b4e38;
  color: #7b4e38;
  cursor: pointer;
  transition: 0.3s ease;
}

.contacto-btn:hover {
  background: #7b4e38;
  color: #e2d9d2;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contacto-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .contacto-title {
    text-align: left;
    font-size: 2.2rem;
  }

  .contacto-text {
    width: 100%;
  }
}
