/* ======================================== */
/*                 SECCIÓN                 */
/* ======================================== */

.fun-section {
  width: 100%;
  background: #e2d9d2;
}

.fun-wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 120px 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* ======================================== */
/*        BLOQUE SUPERIOR (TEXTO)          */
/* ======================================== */

.fun-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

/* -- TÍTULO PRINCIPAL -- */
.fun-title {
  font-family: "aviano-flare", serif;
  color: #805b4a;
  font-size: 1.8rem;
  line-height: 1.1;
  max-width: 520px;
}

/* -- TEXTO DERECHA -- */
.fun-side-text {
  text-align: justify;
  max-width: 350px;
}

.fun-side-title {
  font-family: "Barlow", sans-serif;
  font-size: 0.9rem;
  color: #805b4a;
  margin-bottom: 14px;
  letter-spacing: 1px;
}

.fun-side-desc {
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
  color: #5a4d45;
  line-height: 1.6;
  margin-bottom: 18px;
}

.fun-link {
  font-family: "Barlow", sans-serif;
  color: #805b4a;
  text-decoration: underline;
  font-size: 0.95rem;
}

/* ======================================== */
/*                IMAGEN                    */
/* ======================================== */

.fun-img-box {
  width: 100%;
}

.fun-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: -1px;
}

/* ======================================== */
/*              RESPONSIVE 1024             */
/* ======================================== */

@media (max-width: 1024px) {
  .fun-title {
    font-size: 2rem;
  }

  .fun-img {
    height: 360px;
  }

  .fun-top {
    gap: 40px;
  }
}

/* ======================================== */
/*              RESPONSIVE 480              */
/* ======================================== */

@media (max-width: 480px) {
  .fun-wrapper {
    padding: 90px 6%;
    gap: 35px;
  }

  .fun-top {
    flex-direction: column;
    gap: 30px;
  }

  .fun-title {
    font-size: 1.6rem;
    max-width: 100%;
  }

  .fun-side-text {
    max-width: 100%;
  }

  .fun-img {
    height: 260px;
  }
}
