/* BOTÓN ABRIR */
.open-btn {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* BOTÓN CERRAR */
.close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

/* CONTAINER GENERAL */
.menu-container {
  position: fixed;
  inset: 0;
  background: #e2d9d2;

  display: flex;
  flex-direction: row;
}

/* MITAD IZQUIERDA */
.menu-left {
  width: 50%;
  background: #d8c7bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MITAD DERECHA */
.menu-right {
  width: 50%;
  background: #c7b0a1;
  display: flex;
  justify-content: center;
  align-items: center;
}
