/* ============================= */
/*        SECCIÓN MENSAJE        */
/* ============================= */

.mensaje-section {
  width: 100%;
  background-color: #e2d9d2;
  padding: 110px 5%;
  text-align: center;
}

/* ICONO */
.mensaje-icono {
  width: 42px;
  margin-bottom: 25px;
  opacity: 0.78;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* TÍTULO */
.mensaje-titulo {
  font-family: "aviano-flare", serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #805b4a;
  line-height: 1.38;
  margin-bottom: 22px;

  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mensaje-titulo br {
  display: block;
  margin-bottom: 6px;
  line-height: 1.38;
}

/* TEXTO */
.mensaje-texto {
  font-family: "Barlow", sans-serif;
  font-size: 0.96rem;
  color: rgba(0, 0, 0, 0.55);
  max-width: 720px;
  margin: 0 auto;
  line-height: 1.64;
}

/* ============================= */
/*             TABLET            */
/*        <= 1024px             */
/* ============================= */

@media (max-width: 1024px) {
  .mensaje-titulo {
    font-size: .8rem;
    line-height: 1.34;
  }

  .mensaje-titulo br {
    margin-bottom: 5px;
  }

  .mensaje-texto {
    font-size: 0.77rem;
    max-width: 95%;
  }

  .mensaje-icono {
    width: 38px;
  }

  .mensaje-section {
    padding: 95px 5%;
  }
}

/* ============================= */
/*              MÓVIL            */
/*        <= 480px              */
/* ============================= */

@media (max-width: 480px) {
  .mensaje-section {
    padding: 80px 5%;
  }

  .mensaje-titulo {
    font-size: .96rem;
    line-height: 1.30;
    max-width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .mensaje-titulo br {
    margin-bottom: 4px;
  }

  .mensaje-texto {
    font-size:.81rem;
    line-height: 1.6;
    max-width: 100%;
    margin-top: 40px;


  }

  .mensaje-icono {
    width: 30px;
  }
}
